
footer {
    background-color:#410f2c;
    color: white;
    padding: 20px;
    text-align: center;
   margin-top: 5%;
}
.footer-info a {
    color: #ddd;
    text-decoration: none;
}
.footer-content{
    max-width: 1200px;
}
.footer-info a:hover {
    text-decoration: underline;
}